*{
  margin:0;
  text-decoration: none;
}

body{
  font-family: 'Arial', serif;
  font-size: 12px;
}

.container-center{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-login{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
  border-radius: 3px;
	min-height:200px;
  background: rgba(255,255,255,0.85);
}

.container-logo{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
	padding:30px;
	min-height:inherit;
}

.logo{
  width: 168px;
  height: 168px;
  background: url(../img/logo.png);
  background-size: 168px 168px;
}

.container-form{
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  padding: 30px;
	min-height:inherit;
}

.input-box{
  background: none;
}

.input-button{
  background: none;
}

.container-erreur{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
	min-height:inherit;
}

.erreur{
  width: 100%;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
	min-height:inherit;
  padding: 10px;
  border: #e74c3c solid 1px;
  border-radius: 2px;
  margin: 5px;
}

input[type=text] {
	outline-width: 0;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #bbb;
  background: none;
	transition: border-bottom 0.5s;
}

input[type=text]:focus{
  border-bottom: 2px solid #111;
}

input[type=password] {
	outline-width: 0;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #bbb;
  background: none;
	transition: border-bottom 0.5s;
}

input[type=password]:focus{
  border-bottom: 2px solid #111;
}

.input-button input[type=submit] {
	outline-width: 0;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border: 2px solid #34495e;
	border-radius: 3px;
	background: #34495e;
	transition: border 0.6s, background 0.6s;
	color:#fff;
}

.input-button input[type=submit]:hover{
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
