*{
  margin:0;
  text-decoration: none;
}

body{
  font-family: 'Century Gothic', serif;
  font-size: 12px;
}

.container-center{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-stats{
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3px;
  height: 70vh;
  width: 70vh;
  background: rgba(255,255,255,0.85);
}

.container-rank{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
	padding:30px;
  height: 45%;
  width: auto;
  border-bottom: dashed 1px #777;
}
.container-text{
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  padding: 2vh;
  font-size: 2.5vh;
  border-radius: 3px;
  background: #eee;
  border-bottom: solid 3px #aaa;
  margin: 2vh;

}
.container-text-title{
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  font-size: 1.6vh;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: solid 1px #aaa;
  padding: 1vh;
}

.container-partie{
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
	padding:5vh;
  height: 55%;
  width: auto;
  font-size: 2.7vh;
}

.header{
  position: absolute;
  width: 100vw;
  height: 10vh;
  top: 0;
  z-index: 999;
  background: #fff;
}

.title{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;

}
.title-logo{

  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 60vh;
  height: 15vh;
  background: url(../img/titre.png);
  background-size: 100% 100%;
}

.replay-container {
  z-index: 991;
  position: absolute;
  width: 10vh;
  height: 10vh;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.replay-image{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: initial;
  width: 6vh;
  height: 6vh;
  background : url("../img/replay.png");
  background-size: 100% 100%;
}

.logout-container {

  position: absolute;
  width: 10vh;
  height: 10vh;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout{
  position: initial ;
  width: 7vh;
  height: 7vh;
  background-color: #7f8c8d;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000em;
  border-bottom: solid 4px #555;
  transition: 0.1s;
}

.logout:active{
  transform: translateY(4px);
  border-bottom: solid 1px #555;
}

.logout-logo {
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: initial;
  width: 5vh;
  height: 5vh;
  background: url(../img/logout.png);
  background-size: 100% 100%;
  transition: 0.3s ;
}
input[type=submit] {
  border-radius: 1000em;
  height: 5vh;
  width: 5vh;
  margin: 5px;
  background-color: #7f8c8d;
  --color:#555;
  box-shadow: none;
  border:none;
  border-bottom: solid 4px var(--color);
  transition: 0.1s;
  -webkit-transition: 0.1s;
  text-indent: -999vw;
}

input[type=submit]#replayHeader{
  position: initial ;
  width: 7vh;
  height: 7vh;
  background-color: #7f8c8d;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000em;
  border-bottom: solid 4px #555;
  transition: 0.1s;
}

input[type=submit]#replayHeader:active{
  transform: translateY(4px);
  border-bottom: solid 1px #555;
}
