*{
  margin:0;
  text-decoration: none;
}

body{
  font-family: 'Arial', serif;
  font-size: 12px;
}

.container-center{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-board{

  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 2px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
}

.container-row{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 2px;
}

.container-column{

  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-left: solid 2px #bbb;
  padding-left: 3px;
  margin: 2px;
}

.solution{
  border-left: none;
  padding-left: 0px;
  margin: 5px;
  border-left: dotted 2px #bbb;
}

.selection{
  border-left: solid 2px #000;
}

.container-circle{
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.container-circle-picker{

  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
}

.circle{
  border-radius: 1000em;
  height: 5vh;
  width: 5vh;
  margin: 5px;
  background-color: #7f8c8d;
  --color:#555;
  box-shadow: 0px 3px 0px var(--color) inset;
  transition: 0.1s;
	-webkit-transition: 0.1s;
}

.rouge{
  background-color:#e74c3c;
  --color:#b0281a;
}
.jaune{
  background-color: #f1c40f;
  --color:#f39c12;
}
.vert{
  background-color: #2ecc71;
  --color:#27ae60;
}
.bleu{
  background-color: #3498db;
  --color:#1870a8;
}
.orange{
  background-color: #e67e22;
  --color:#d35400;
}
.blanc{
  background-color: #ecf0f1;
  --color:#bdc3c7;
}
.violet{
  background-color: #9b59b6;
  --color:#7d33bc;
}
.fushia{
  background-color: #ff66ff;
  --color:#983c98;
}
.hidden{
  background-color: #abb7b7;
  box-shadow: 0px 3px 0px #696f6f;
}
.picker{
  box-shadow: none;
  border-bottom: solid 4px var(--color);
}

.picker:active{
  transform: translateY(4px);
  border-bottom: solid 1px var(--color);
}

.backward{
  margin: 4px;
  height: 7vh;
  width: 7vh;
  box-shadow: none;
  border-bottom: solid 4px var(--color);
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
	-webkit-transition: 0.1s;
}

.backward:active{
  transform: translateY(4px);
  border-bottom: solid 1px var(--color);
}

.backward-image{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: initial;
  width: 6vh;
  height: 6vh;
  background : url("../img/backward.png");
  background-size: 100% 100%;
}

.check{
  margin: 4px;
  height: 7vh;
  width: 7vh;
  box-shadow: none;
  border-bottom: solid 4px var(--color);
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
	-webkit-transition: 0.1s;
}

.check:active{
  transform: translateY(4px);
  border-bottom: solid 1px var(--color);
}

.check-image{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: initial;
  width: 4vh;
  height: 4vh;
  background : url("../img/check.png");
  background-size: 100% 100%;
}

.container-square-helper{
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 2px;
  margin: 2px;
}

.container-square-row{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-circle-result{
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
}

.circle-result{
  border-radius: 1000em;
  height: 2vh;
  width: 2vh;
  margin: 2px;
  background-color: #7f8c8d;
  --color:#444;
  box-shadow: 0px 2px 0px  var(--color) inset;
}

.blanc{
  background-color: #ecf0f1;
  --color:#bdc3c7;
}
.noir{
  background-color: #34495e;
  --color:#2c3e50;
}

.header{
  position: absolute;
  width: 100vw;
  height: 10vh;
  top: 0;
  z-index: 999;
  background: #fff;
}

.title{
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;

}
.title-logo{

  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 60vh;
  height: 15vh;
  background: url(../img/titre.png);
  background-size: 100% 100%;
}

.logout-container {

  position: absolute;
  width: 10vh;
  height: 10vh;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout{
  position: initial ;
  width: 7vh;
  height: 7vh;
  background-color: #eee;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000em;
  border-bottom: solid 4px #bdc3c7;
  transition: 0.1s;
}

.logout:active{
  transform: translateY(4px);
  border-bottom: solid 1px #bdc3c7;
}

.logout-logo {
  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: initial;
  width: 5vh;
  height: 5vh;
  background: url(../img/logout.png);
  background-size: 100% 100%;
  transition: 0.3s ;
}

.footer{
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 25vh;
  bottom: 0;
  z-index: 998;
  transition: 0.5s ease;
}

.white-ribon{
  position: absolute;
  width: 100%;
  height: 20vh;
  bottom: -15vh;
  background: #fff;
  transition: 0.5s ease;
}

.footer:hover .white-ribon{
  bottom: 0;
}

.logo-jeu-ribon{
  position: absolute;
  width: 100%;
  height: 25vh;
  bottom: -15vh;
  transition: 0.5s ease;
}

.footer:hover .logo-jeu-ribon{
  bottom: 0;
}

.logo-jeu-container{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  -moz-transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  width: 12vh;
  height: 12vh;
  background-color: #fff;
  border-radius: 1000em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-jeu{

  display: box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: initial;
  width: 12vh;
  height: 12vh;
  background: url(../img/arrow.png);
  background-size: 100% 100%;
  transition: 0.3s ;
  z-index:999;
}

.footer:hover .logo-jeu{
  transform: rotate(360deg);
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  background: url(../img/arrow2.png);
  background-size: 100% 100%;
}

input[type=submit] {
  border-radius: 1000em;
  height: 5vh;
  width: 5vh;
  margin: 5px;
  background-color: #7f8c8d;
  --color:#555;
  box-shadow: none;
  border:none;
  border-bottom: solid 4px var(--color);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}
input[type=submit]#rouge{
  background-color:#e74c3c;
  --color:#b0281a;
}
input[type=submit]#jaune{
  background-color: #f1c40f;
  --color:#f39c12;
}
input[type=submit]#vert{
  background-color: #2ecc71;
  --color:#27ae60;
}
input[type=submit]#bleu{
  background-color: #3498db;
  --color:#1870a8;
}
input[type=submit]#orange{
  background-color: #e67e22;
  --color:#d35400;
}
input[type=submit]#blanc{
  background-color: #ecf0f1;
  --color:#bdc3c7;
}
input[type=submit]#violet{
  background-color: #9b59b6;
  --color:#7d33bc;
}
input[type=submit]#fushia{
  background-color: #ff66ff;
  --color:#983c98;
}


input[type=submit]:active{
  transform: translateY(4px);
  border-bottom: solid 1px var(--color);
}
